Source: yoyo-system-operator
Section: devel
Priority: extra
Maintainer: Yoyo <admin@yzzi.icu>
Uploaders: Yoyo <admin@yzzi.icu>
Build-Depends: debhelper (>= 9),
               dh-golang,
               golang-go
Standards-Version: 3.9.6
Homepage: https://github.com/yoyo-os/yoyo-system-operator
Vcs-Browser: https://github.com/yoyo-os/yoyo-system-operator
Vcs-Git: git://github.com/yoyo-os/yoyo-system-operator.git

Package: yoyo-system-operator
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         golang-go,
         adwdialog,
         ifstat,
         abroot
Built-Using: ${misc:Built-Using}
Description: YSO is an utility which allows you to perform maintenance tasks on your Yoyo OS installation.
